---
import MainLayout from "../../layouts/MainLayout.astro";
import BasicCard from "../../components/BasicCard.astro";
import sagaData from "../../data/sagas.json";
import storyData from "../../data/stories.json";

// Obtener el ID de la URL
const { id } = Astro.params;
const saga = sagaData.find((s) => s.key === id);
const filteredStories = storyData.filter((story) => story.saga === id);

// Generar rutas dinámicas
export async function getStaticPaths() {
  return sagaData.map((saga) => ({
    params: { id: saga.key },
  }));
}
---

<MainLayout
  title={"Saga: " + saga.name}
  description={saga.description}
  image={"/assets/sagas/" + saga.key + ".png"}
  url={"/saga/" + saga.key}
>
  <div class="saga-container">
    <h1 class="saga-title">{saga.name}</h1>
    {
      saga.youtube ? (
        <iframe
          src={`https://www.youtube.com/embed/videoseries?list=${saga.youtube}`}
          width="100%"
          height="600"
          frameborder="0"
          allowfullscreen
        />
      ) : (
        <div class="no-playlist">
          <p>No hay playlist disponible para esta saga.</p>
        </div>
      )
    }
    <p class="saga-description">{saga.description}</p>
    <h2 class="stories-title">Cuentos en esta saga</h2>
    <div class="stories-grid">
      {
        filteredStories.map((story) => (
          <BasicCard key={story.key} entry={story} />
        ))
      }
    </div>
  </div>
</MainLayout>

<style>
  .saga-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .saga-title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .no-playlist {
    text-align: center;
    margin-bottom: 20px;
  }

  .stories-title {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .saga-description {
    font-size: 1.6rem;
    padding: 32px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 16px;
    margin-top: 16px ;
  }

  .stories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    margin-top: 20px;
  }

  @media (max-width: 600px) {
    .stories-grid {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
</style>
