---
import NavLayout from '../../layouts/NavLayout.astro'
import stories from '../../data/stories.json'
import StoryPage from '../../components/Page/StoryPage.vue'
const { id } = Astro.params
const story = stories.find(story => story.key === id)

const firstParagraph = story.story.split('\n').filter(p => p.trim() !== '')[0]

export async function getStaticPaths() {
  return stories.map(story => ({
    params: { id: story.key }
  }))
}

const formatDate = dateStr => {
  const [day, month, year] = dateStr.split('/')
  const fullYear = `${year}`
  return `${fullYear}-${month}-${day}T00:00:00Z`
}

const schema = JSON.stringify({
  '@context': 'http://schema.org',
  '@type': 'CreativeWork',
  name: story.name,
  author: {
    '@type': 'Person',
    name: 'LaVozDeLosCuentos'
  },
  datePublished: formatDate(story.date),
  image: `https://lavozdeloscuentos.es/assets/stories/${story.key}.webp`,
  description: firstParagraph,
  genre: 'Literatura Infantil',
  mainEntityOfPage: {
    '@type': 'WebPage',
    '@id': `https://lavozdeloscuentos.es/cuento/${story.key}`
  },
  video: {
    '@type': 'VideoObject',
    name: `${story.name} - Video`,
    description: firstParagraph,
    thumbnailUrl: `https://lavozdeloscuentos.es/assets/stories/${story.key}.webp`,
    uploadDate: formatDate(story.date),
    contentUrl: `https://www.youtube.com/embed/${story.youtube}`,
    embedUrl: `https://www.youtube.com/embed/${story.youtube}`
  },
  audio: {
    '@type': 'AudioObject',
    name: `${story.name} - Audio`,
    description: `${firstParagraph}`,
    thumbnailUrl: `https://lavozdeloscuentos.es/assets/stories/${story.key}.webp`,
    uploadDate: formatDate(story.date),
    contentUrl: story.spotifyLink,
    embedUrl: story.spotifyLink
  }
})
---

<NavLayout
  title={story.name}
  description={firstParagraph}
  image={'/assets/stories/' + story.key + '.webp'}
  url={'/cuento/' + story.key + '/'}
  hasVideo
>
  <StoryPage
    story={story}
    client:load
    url={'https://lavozdeloscuentos.es/cuento/' + story.key + '/'}
    title={story.name}
  />

  <div id="story-data" data-story={JSON.stringify(story)} style="display:none">
  </div>
  <script type="application/ld+json" set:html={schema} />
</NavLayout>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const story =
      JSON.parse(
        document.getElementById('story-data').getAttribute('data-story')
      ) ?? {}
    const storyKey = story.key
    const storyTime = parseInt(story.time)

    function getStoriesData() {
      return JSON.parse(localStorage.getItem('storiesData')) || []
    }

    function setStoriesData(storiesData) {
      localStorage.setItem('storiesData', JSON.stringify(storiesData))
    }

    function updateStoryData() {
      let storiesData = getStoriesData()
      let storyIndex = storiesData.findIndex(s => s.key === storyKey)

      if (storyIndex === -1) {
        storiesData.push({
          key: storyKey,
          spentTime: 0,
          totalTime: storyTime,
          finished: false,
          like: false
        })
      }

      setStoriesData(storiesData)
    }
    updateStoryData()

    function updateTimeSpent() {
      let storiesData = getStoriesData()
      let storyIndex = storiesData.findIndex(s => s.key === storyKey)

      if (storyIndex !== -1) {
        storiesData[storyIndex].spentTime += 30
        if (storiesData[storyIndex].spentTime >= storyTime) {
          storiesData[storyIndex].finished = true
        }
        setStoriesData(storiesData)
      }
    }
    setInterval(updateTimeSpent, 30000)
  })
</script>
