---
import NavLayout from '../../layouts/NavLayout.astro'
import newsletters from '../../data/newsletters.json'

const { id } = Astro.params
const newsletter = newsletters.find(newsletter => newsletter.id === id)

const firstParagraph = newsletter.html
  .split('\n')
  .filter(p => p.trim() !== '')[0]
  .replace(/<\/?[^>]+(>|$)/g, '')

export async function getStaticPaths() {
  return newsletters.map(newsletter => ({
    params: { id: newsletter.id }
  }))
}
---

<NavLayout
  title={newsletter.title}
  description={firstParagraph}
  image={'/assets/stories/newsletter.png'}
  url={'/newsletter/' + newsletter.id + '/'}
  hasVideo
>
  <div class="newsletter-container" id="newsletter-container">
    <h1 class="newsletter-title">{newsletter.title}</h1>
    {
      newsletter.spotify && (
        <div class="newsletter-spotify-embed">
          <iframe
            src={`https://podcasters.spotify.com/pod/show/lavozdeloscuentos/embed/episodes/${newsletter.spotify}`}
            frameborder="0"
            scrolling="no"
            loading="lazy"
          />
        </div>
      )
    }
    <div class="newsletter-html" set:html={newsletter.html} />
  </div>
</NavLayout>
