---
import '@overgaming/vicius/styles'
import '../assets/css/fonts.css'
import '../assets/css/styles.css'
import '../assets/css/theme.css'
import pkg from '../../package.json'

import CMP from '../components/commons/Legal/CMP.vue'
const siteName = import.meta.env.PUBLIC_SITE_NAME
const lang = import.meta.env.PUBLIC_LANG

const {
  title,
  description,
  image = `/assets/logo/${lang}.webp`,
  twitterCard = 'summary_large_image',
  type = 'website',
  url = '/',
  hasVideo = false
} = Astro.props
const pageTitle = title ? `${title} | ${siteName}` : { siteName }
const siteUrl = import.meta.env.PUBLIC_SITE_URL
const gaId = import.meta.env.PUBLIC_GOOGLE_ANALYTICS_ID
const bingValidate = import.meta.env.PUBLIC_BING_VALIDATE
const fbAppId = import.meta.env.PUBLIC_FB_APP_ID
const twitterUser = import.meta.env.PUBLIC_TWITTER_USER
---

<html lang={lang} class={`theme--${lang} v-light`}>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="max-age=14400, public" />
    <link rel="icon" href={`/img/icons/${lang}/512x512.webp`} sizes="512x512" />
    <link rel="icon" href={`/img/icons/${lang}/152x152.webp`} sizes="152x152" />
    <link rel="icon" href={`/img/icons/${lang}/32x32.webp`} sizes="32x32" />
    <link rel="icon" href={`/img/icons/${lang}/16x16.webp`} sizes="16x16" />
    <link rel="icon" href={`/img/icons/${lang}/favicon.ico`} />
    <meta name="theme-color" content="#4DBA87" />

    <!-- Styles -->
    <link
      rel="stylesheet"
      href="/third/lite-youtube-embed/src/lite-yt-embed.css"
    />
    <!-- /Styles -->

    <!-- SEO -->
    <title>{pageTitle}</title>
    <link rel="canonical" href={`${siteUrl}${url}`} />

    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:image" content={`${siteUrl}${image}`} />
    <meta property="og:image:alt" content={title} />
    <meta property="og:url" content={`${siteUrl}${url}`} />
    <meta property="og:type" content={type} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="msvalidate.01" content={bingValidate} />
    <meta name="robots" content="index, follow" />
    <meta property="fb:app:id" content={fbAppId} />
    <meta name="twitter:card" content={twitterCard} />
    <meta name="twitter:site" content={twitterUser} />
    <meta name="twitter:creator" content={twitterUser} />
    <meta name="twitter:image" content={`${siteUrl}${image}`} />
    <meta property="twitter:description" content={description} />
    <script async src={`https://www.googletagmanager.com/gtag/js?id=${gaId}`}
    ></script>

    <script>
      ;(function () {
        const isProduction = window.location.hostname !== 'localhost'
        if (!isProduction) return
        const currentUrl = window.location.href
        let newUrl = ''
        let hasRedirect = false
        if (currentUrl.startsWith('http://')) {
          newUrl = currentUrl.replace('http://', 'https://')
          hasRedirect = true
        }
        var url = new URL(currentUrl)
        if (url.hostname.startsWith('www.')) {
          newUrl = newUrl.replace('www.', '')
          hasRedirect = true
        }
        if (hasRedirect) {
          window.location.replace(newUrl)
        }
      })()
    </script>
  </head>

  <body>
    <slot />

    <CMP client:load />

    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js').then(
            registration => {
              console.log(
                'ServiceWorker registration successful with scope: ',
                registration.scope
              )
            },
            err => {
              console.log('ServiceWorker registration failed: ', err)
            }
          )
        })
      }
    </script>
    {
      hasVideo ? (
        <script
          src="/third/lite-youtube-embed/src/lite-yt-embed.js"
          is:inline
        />
      ) : (
        ''
      )
    }
  </body>
</html>
