---
import Header from "../components/commons/Header/Header.astro";
import MainFooter from "../components/commons/Footer/Footer.astro";
import "./layout.css";
const {
  title,
  description,
  image = "/img/icons/512x512.png",
  twitterCard = "summary_large_image",
  type = "website",
  url = "",
  hasVideo = false,
} = Astro.props;
const pageTitle = title
  ? `${title} | La Voz de los Cuentos`
  : "La Voz de los Cuentos";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="max-age=14400, public" />
    <link rel="icon" href="/img/icons/32x32.png" sizes="32x32" />
    <link rel="icon" href="/img/icons/32x32.png" sizes="16x16" />
    <link rel="icon" href="/img/icons/favicon.ico" />
    <link rel="apple-touch-icon" href="/img/icons/152x152.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#4DBA87" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="/third/lite-youtube-embed/src/lite-yt-embed.css"
    />

    <!-- Preload the specific font styles -->
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />

    <!-- Fallback for browsers that do not support onload -->
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap"
        rel="stylesheet"
      />
    </noscript>
    <!-- SEO -->
    <title>{pageTitle}</title>
    <link rel="canonical" href={`https://lavozdeloscuentos.es${url}`} />

    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <meta property="og:title" content={title} />
    <meta
      property="og:image"
      content={`https://lavozdeloscuentos.es${image}`}
    />
    <meta property="og:image:alt" content={title} />
    <meta property="og:url" content={`https://lavozdeloscuentos.es${url}/`} />
    <meta property="og:type" content={type} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="msvalidate.01" content="F4F378590719CB3FE7C00F6916621727" />
    <meta name="robots" content="index, follow" />
    <meta property="fb:app:id" content="792207913054384" />
    <meta name="twitter:card" content={twitterCard} />
    <meta name="twitter:site" content="@TusAudioCuentos" />
    <meta name="twitter:creator" content="@TusAudioCuentos" />
    <meta
      name="twitter:image"
      content={`https://lavozdeloscuentos.es${image}`}
    />
    <meta property="twitter:description" content={description} />
    <script>
      (function () {
        const isProduction =
          window.location.hostname === "lavozdeloscuentos.es";
        if (!isProduction) return;
        const currentUrl = window.location.href;
        let newUrl = "";
        if (currentUrl.startsWith("http://")) {
          newUrl = currentUrl.replace("http://", "https://");
        }
        if (currentUrl.endsWith("/")) {
          newUrl = newUrl.slice(0, -1);
        }

        var url = new URL(newUrl);
        if (url.hostname.startsWith("www.")) {
          newUrl = newUrl.replace("www.", "");
        }
        window.location.replace(newUrl);
      })();
    </script>
  </head>

  <body>
    <Header />
    <div class="content-layout">
      <slot />
    </div>
    <MainFooter />
    <style>
      html {
        font-family: "Fredoka", sans-serif;
      }
    </style>
    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js").then(
            (registration) => {
              console.log(
                "ServiceWorker registration successful with scope: ",
                registration.scope
              );
            },
            (err) => {
              console.log("ServiceWorker registration failed: ", err);
            }
          );
        });
      }
    </script>
    {
      hasVideo ? (
        <script
          src="/third/lite-youtube-embed/src/lite-yt-embed.js"
          is:inline
        />
      ) : (
        ""
      )
    }

    <!-- Google tag (gtag.js) -->
    <style>
      .cookie-consent {
        position: fixed;
        bottom: 0;
        left: 10px;
        right: 10px;
        background-color: rgba(0, 0, 0, 0.3);
        color: #fff;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        display: none; /* Oculto por defecto */
      }
      .cookie-consent p {
        padding: 8px;
      }

      .cookie-consent button {
        color: white;
        border: none;
        padding: 5px 10px;
        margin-top: 10px;
        cursor: pointer;
        font-size: 14px;
        border-radius: 5px;
        font-weight: bold;
        margin: 0 5px; /* Espacio entre botones */
      }
      .cookie-consent-button {
        background-color: var(--secondary-color);
      }
      .cookie-consent-reject-button {
        opacity: 0.6;
        background-color: var(--primary-color);
      }
    </style>

    <div class="cookie-consent">
      <p>
        Para mejorar la experiencia necesitamos cookies de terceros, <br /> sólo
        usamos Google Analytics ¿Aceptas las cookies?
      </p>
      <button class="cookie-consent-button">Aceptar</button>
      <button class="cookie-consent-reject-button">No</button>
    </div>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PXYY4HM36E"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-PXYY4HM36E");

      var allConsentGranted = function () {
        gtag("consent", "update", {
          analytics_storage: "granted",
        });
        localStorage.setItem("cookieConsent", "granted");
        document.querySelector(".cookie-consent").style.display = "none";
      };

      var allConsentRejected = function () {
        localStorage.setItem("cookieConsent", "rejected");
        document.querySelector(".cookie-consent").style.display = "none";
      };

      document
        .querySelector(".cookie-consent-button")
        .addEventListener("click", () => {
          allConsentGranted();
        });

      document
        .querySelector(".cookie-consent-reject-button")
        .addEventListener("click", () => {
          allConsentRejected();
        });

      document.addEventListener("DOMContentLoaded", function () {
        if (!localStorage.getItem("cookieConsent")) {
          document.querySelector(".cookie-consent").style.display = "block";
        }
      });
    </script>
  </body>
</html>
